/**
 * Variables
 */
:root {
  --sitecolor: #0678be;
  --secondarycolor : #DEDEDE;
}

/* Extra */
@media screen and (max-width: 767px) {

  .region.region-header {
    float: left;
  }

  .region.region-primary-menu {
    display: none;
  }

  #main-menu {
    border-top: 1px solid var(--sitecolor);
    margin: 3px 0 0;
  }

  #main-menu li a {
    background-color: #fbfbfb;
    border-bottom: 1px solid #eef0f7;
    border-left: 5px solid var(--sitecolor);
    padding: 10px;
    margin: 0;
  }

  #main-menu a,
  #main-menu a:hover,
  #main-menu a:focus,
  #main-menu a:active,
  #main-menu a.highlighted {
    color: #00614e;
    font-weight: 500;
  }

  #main-menu a.highlighted {
    background-color: #e0e0e0;
    margin: 0;
  }

  #main-menu a.is-active, 
  #main-menu a.has-submenu {
    color: var(--sitecolor) !important;
    text-transform: uppercase;
  }

  #main-menu a.has-submenu span.sub-arrow:before {
    content: "+";
    display: block;
  }

  #main-menu a.has-submenu.highlighted span.sub-arrow:before {
    content: "-";
  }

  #main-menu ul li a {
    border-left-width: 3px;
  }

  #main-menu ul li a:before {
    content: "-";
    margin: 0 10px;
  }

  /* Banner */
  .banner-content {
    padding: 20% 15px 20%;
    text-align: center;
  }

  .topwidget .topwidget-block {
    margin: 0;
  }

  .promo-image,
  .promo-content {
    padding: 30px 10px;
  }

  .footer-bottom {
    text-align: center;
  }
  .footer-social {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 576px) {

  /* Banner */
  .banner-content {
    padding: 15% 25px 15%;
    text-align: center;
  }

  .home-banner-image {
    margin: 5px 15px 0;
    height: auto;
  }

  .region.region-primary-menu {
    display: none;
  }

}

@media screen and (min-width: 300px) {


}

@media screen and (min-width: 768px) {
  
  /* Banner */
  .banner-content {
    padding: 15% 15px 21%;
    text-align: left;
  }

  .home-banner-image {
    margin: 7% 0 0;
  }

  .region.region-primary-menu {
    display: block;
  }

  .contact-message-feedback-form {
    max-width: 650px;
    margin: 0 auto;
    border: 1px solid #e9e8ed;
    padding: 10px 30px;
    background: #fdfdfd;
  }

  .region-primary-menu {
    display: inline-block;
    float: right;
    width: auto;
    margin: 15px 0px;
  }

  .main-header nav {
    margin: 0;
    border-radius: none;
  }

  .footer-widgets,
  .footer-space {
    text-align: left;
  }

  #main-menu li {
    float: left;
  }

  #main-menu ul li,
  #main-menu.sm-vertical li {
    float: none;
  }

  #main-menu a {
    white-space: nowrap;
    color: var(--secondarycolor);
    transition: color 0.5s;
    font-size: 16px;
    background: transparent;
    margin: 0 5px;
  }

  #main-menu ul {
    position: absolute;
    top: 67px !important;
    background: var(--sitecolor);
  }

  #main-menu ul li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  #main-menu ul li a:hover {
    background: #034974;
    color: #fff;
  }

  #main-menu ul li:first-child {
    border-top: 0;
  }

  #main-menu .sm-nowrap > li > a,
  #main-menu .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
    font-size: 15px;
    transition: color 0.5s;
    color: #fff;
    margin: 0;
  }

  #main-menu a.highlighted span.sub-arrow:before {
    display: none;
  }

  #main-menu ul a,
  #main-menu ul a:hover,
  #main-menu ul a:focus,
  #main-menu ul a:active,
  #main-menu ul a.highlighted {
    border: 0 !important;
    padding: 9px 23px;
    background: transparent;
    color: var(--sitecolor);
  }

  #main-menu a span.sub-arrow {
    padding: 0;
    top: 20px;
    margin-top: 0;
    bottom: 2px;
    right: 5px;
    margin-left: -5px;
    left: auto;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: var(--sitecolor) transparent transparent transparent;
    background: transparent;
  }

  .topwidget-inner {
    margin-top: -120px;
    position: relative;
    float: left;
  }

  div.sidebar-second,
  div.sidebar-first {
    margin-top: 40px;
  }

}


@media screen and (min-width: 992px) {

}



