/**
 * Variables
 */
:root {
  --sitecolor: #0678be;
  --secondarycolor : #DEDEDE;
}

/**
 * Fonts
 */
/* Exo2-Light */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Exo2-Light.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Exo2-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Exo2-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Exo2-Light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Exo2-Light.svg') format('svg'); /* Legacy iOS */
}

/* Exo2-Regular */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Exo2-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Exo2-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Exo2-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Exo2-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Exo2-Regular.svg') format('svg'); /* Legacy iOS */
}

/* Exo2-Bold */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Exo2-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Exo2-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Exo2-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Exo2-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Exo2-Bold.svg') format('svg'); /* Legacy iOS */
}

/**
 * Style
 */

body {
  color: #333;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 160%;
  overflow-x: hidden;
}

.container,
.container-fluid {
  max-width: 1200px;
}

p {
  margin: 0 0 20px 0;
}

h1,
.h1 {
  font-size: 18px;
  color: #000;
}

h2,
.h2 {
  font-size: 16px;
  color: #000;
}

h3,
.h3 {
  font-size: 15px;
  color: #000;
}

h4,
.h4 {
  font-size: 14px;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.nt {
  color: var(--sitecolor);
}

a {
  color: var(--sitecolor);
}

a:hover {
  color: var(--sitecolor);
  text-decoration: none;
}

em {
  color: var(--sitecolor);
  font-style: normal;
}

ul.links.inline {
  padding: 0;
}

ol,
ul {
  padding-left: 20px;
}

ul.links.inline li {
  list-style: none;
}

.block {
  margin-bottom: 12px;
}

.region-content {
  padding: 10px 2px;
}

.block h2.title {
  text-transform: uppercase;
}
 
/* Defaults */

/* Leaderboard */
.leaderboard {
  background: var(--sitecolor);
  height: 30px;
  color: var(--secondarycolor);
  padding: 5px 0;
}

.lb-left {

}

.lb-right {
  text-align: right;
}

.lb-left a {
  color: var(--secondarycolor);
  margin: 0 10px;
  font-weight: 100;
}

.lb-right i {
  margin-right: 10px;
}

.seperator {
  margin: 0 15px;
}

/* Header Section */
.main-header {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  background-color: #020312;
}

.main-header nav.topnav.navbar-default {
  border-bottom: 1px solid var(--sitecolor);
}
  
/*.main-header:after {
  content: "";
  background: #fff;
  height: 200px;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  position: absolute;
  left: 0;
  bottom: -100px;
  right: 0;
  z-index: 1;
}*/

.main-header nav {
  background: transparent;
  border: 0;
  margin: 0;
  position: relative;
  z-index: 200;
  min-height: auto;
}

.main-header ul.menu {
  margin: 0;
}

.main-header ul.menu li {
  display: inline-block;
  margin-right: 40px;
}

.main-header ul.menu a {
  font-size: 16px;
  color: #444;
  padding: 15px 0;
}

.main-header ul.menu a.is-active {
  color: #222;
}

.main-header ul.menu a {
  font-size: 16px;
  color: rgba(255,255,255,.7);
}
.main-header ul.menu a.is-active {
  color: #fff;
}

.region.region-header {
  position: relative;
  z-index: 2;
  padding: 0;
}

.main-header .block {
  margin: 0;
}

/*Region Header*/

.site-branding {
  margin: 0;
}

.logo {
  margin-right: 20px;
}

.logo img {
  max-height: 70px;
}

.region-header .brand {
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: middle;
  line-height: 100%;
}

.site-name {
  display: inline-block;
}

.site-name a {
  font-size: 20px;
  font-weight: 500;
  color: var(--sitecolor);
}

.region-header .site-branding__slogan {
  font-size: 10px;
  color: var(--sitecolor);
}

/* Banner */
.banner-content {
  padding: 13% 0 22%; 
}

.home-banner-image {
  /*background: url(https://pngimg.com/uploads/man/man_PNG6513.png);*/
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner-content .sub-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--sitecolor);
}

.banner-content .title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
}

.banner-content .description {
  font-size: 16px;
  color: var(--secondarycolor);
  margin-bottom: 20px;
}

.btn-large {
  background: var(--sitecolor);
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  color: #fff;
}

.btn-large:hover {
  color: #fff;
}

/* Top widget */
.topwidget-block {
  padding: 30px;
  z-index: 3;
  text-align: center;
  color: #fff;
}

.topwidget .topwidget-block:hover {
  background: #034974;
  color: #fff;
}

.topwidget-block.card-1 {
  background: var(--sitecolor);
  margin-top: 20px;
}

.topwidget-block.card-2 {
  background: #0d81c9;
  padding: 50px 30px;
}

.topwidget-block.card-3 {
  background: #0f87d1;
  padding: 50px 30px;
}

.topwidget-block.card-4 {
  background: var(--sitecolor);
  margin-top: 20px;
}

.topwidget-block i.fa {
  font-size: 60px;
  margin: 30px 0;
}

.topwidget-block h3 {
  color: #fff;
  font-size: 16px;
  margin: 10px 0 5px;
}

.topwidget-block p {
  font-size: 13px;
}


/* Promo */
.promo {
  position: relative;
  z-index: 1;
}

.promo-content {
  padding: 80px 0 60px 20px;
}

.promo-image {
  padding: 80px 20px 20px;
}

.promo-content .sub-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--sitecolor);
}

.promo-content .title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #000;
}

.promo-content .description {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

/* Number scroller */
.highlighted-section {
  background-color: #efefef;
  padding: 100px 0;
}

.scroller-block {
  padding: 25px;
  margin: 10px 0;
}

.scroller-block .numscroller {
  font-size: 40px;
  color: var(--sitecolor);
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
  line-height: 40px;
}

.scroller-block p {
  margin: 0;
}

.scroller-block:after {
  content: " ";
  border-bottom: 1px solid var(--sitecolor);
  float: left;
  height: 3px;
  display: inline-block;
  position: relative;
  width: 20%;
  margin-top: 20px;
}

/*Social Media*/
.social-media {
  text-align: right;
}

.social-media > a {
  position: relative;
  top: 10px;
  width: 32px;
  height: 32px;
  background: var(--sitecolor);
  display: inline-block;
  border-radius: 32px;
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  color: #fff;
  margin: 1px;
}

.social-media > a > .fa {
  position: absolute;
  left: 32%;
  top: 30%;
  font-size: 14px;
}

.social-media .icon-twitter:hover {
  background: #00aced;
  color: #fff;
}

.social-media .icon-facebook:hover {
  background: #3b5998;
  color: #fff;
}

.social-media .icon-gplus:hover {
  background: #dd4b39;
  color: #fff;
}

.social-media .icon-linkedin:hover {
  background: #0274b3;
  color: #fff;
}

.social-media .icon-youtube:hover {
  background: #e12b28;
  color: #fff;
}

/*Form*/
input,
button,
select,
textarea {
  padding: 8px;
  border: 1px solid var(--sitecolor);
}

.contact-message-form label {
  display: block;
}

.btn,
input[type="submit"] {
  background: var(--sitecolor);
  color: #fff;
  border: 0;
  line-height: 100%;
  padding: 10px;
}

.btn:hover,
input[type="submit"]:hover {
  background: var(--sitecolor);
}

/*Front Page*/

.path-frontpage .feed-icon {
  display: none;
}

/*Menu*/

.navbar-default .navbar-toggle {
  margin: 15px 0;
  border: 0;
  color: #fff;
  padding: 6px 6px;
  float: right;
  background: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--sitecolor);
  margin-bottom: 5px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 35px;
  height: 4px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
}

#main-menu a,
#main-menu a:hover,
#main-menu a:focus,
#main-menu a:active {
  padding: 10px 5px;
  padding-right: 20px;
  line-height: 23px;
  text-decoration: none;
  color: var(--sitecolor);
}

#main-menu a span.sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  text-align: center;
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: 1px solid #dcdcdc;
  background: #efefef;
}

.navbar-toggle {
  z-index: 999;
}

/*Breadcrumb*/

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--secondarycolor);
  font-size: 11px;
}

.breadcrumb ul {
  padding: 0;
  margin: 0;
}

.breadcrumb ul li {
  display: inline-block;
}

/*Contact Form*/

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea {
  width: 100%;
}

/*User Login Form*/

.user-login-form,
.user-form,
.user-pass {
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid var(--secondarycolor);
  padding: 10px 30px;
  background: #fff;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text {
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Comment*/

.comment-wrap {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}

.comment-wrap .author-details {
  float: left;
  width: 20%;
}

.comment-wrap .author-comments {
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted {
  margin: 3px 0;
  font-size: 12px;
  display: inline-block;
  line-height: 100%;
}

.comment-wrap .author-comments h3 {
  margin-top: 10px;
}

.comment-wrap .author-comments p {
  margin-bottom: 10px;
}

/* Footer */
.footer-wrap {
  background-color: #020312;
}

.footer-widgets .block-menu,
.footer-widgets .block-block-content {
  margin: 60px 0 40px;
  text-align: center;
}

.footer-widgets .block-menu ul.menu {
  margin: 0;
  text-align: center;
}

.footer-widgets .block-menu h2,
.footer-widgets .block-block-content h2.title {
  color: var(--secondarycolor);
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: none;
}

.footer-widgets .block-menu ul.menu li a {
  color: var(--secondarycolor);
}

.footer-widgets .block-block-content p {
  margin: 0;
  color: var(--secondarycolor);
}

.footer-bottom {
  border-top: 1px solid #555555a3;
  padding: 20px 0;
  color: var(--secondarycolor);
}

.footer-social {
  text-align: right;
}

.footer-social i.fa {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background: var(--sitecolor);
  border-radius: 15px;
  padding: 9px;
  color: var(--secondarycolor);
  text-align: center;
}

.footer-bottom ul.menu {
  margin: 0;
  text-align: center;
}

.footer-bottom ul.menu li {
  list-style: none;
  display: inline;
}

.footer-bottom ul.menu li a {
  color: var(--secondarycolor);
  font-size: 12px;
  border-right: 1px solid #555555a3;
  padding: 0 10px;
}

.footer-bottom ul.menu li:last-child a {
  border: none;
}

/* Content style */
.block-bg {
  background: var(--sitecolor);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 100px 0 !important;
}

.region-block-bg {
  background: var(--sitecolor);
  color: #fff;
  text-align: center;
  width: 100%;
  min-height: 180px;
  padding: 100px 0 !important;
}

div#page-title {
  margin: 30px 0 40px;
}

div#page-title .page-title {
  position: relative;
}

div#page-title .page-title:after {
  content: " ";
  border-bottom: 2px solid var(--sitecolor);
  height: 3px;
  display: inline-block;
  position: absolute;
  width: 10%;
  margin-top: 20px;
  left: 0;
  top: 10px;
}

.messages {
  margin: 10px 0;
}

div.sidebar-first .block,
div.sidebar-second .block {
  padding: 20px;
  background: var(--secondarycolor);
  position: relative;
}
div.sidebar-second .block:after,
div.sidebar-first .block:after {
  content: " ";
  border-left: 2px solid var(--sitecolor);
  border-bottom: 2px solid var(--sitecolor);
  height: 25px;
  position: absolute;
  width: 40%;
  left: 0;
  bottom: 0;
}
div.sidebar-first .block h2.title,
div.sidebar-second .block h2.title {
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 10px 0;
  position: relative;
}
div.sidebar-first .block h2.title:after,
div.sidebar-second .block h2.title:after {
  content: " ";
  border-bottom: 2px solid var(--sitecolor);
  height: 3px;
  display: inline-block;
  position: absolute;
  width: 20%;
  margin-top: 25px;
  left: 0;
  top: 10px;
}
.page-not-found-image {
  text-align: center;
  margin: 20% 0;
}
.page-not-found-image img {
  max-width: 300px;
}

/* Highlighted Region */
.highlighted-wrapper {
  background: var(--secondarycolor);
  margin-bottom: 20px;
}
.highlighted-wrapper .block {
  margin-bottom: 0;
}

/* Footer top Region */
.region-footer-top {
  width: 100%;
}
#footer-top {
  background: var(--secondarycolor);
}
#footer-top .block {
  margin-bottom: 0;
}