.vertical-tabs__pane .form-item {
    margin-bottom: 20px;
}
.vertical-tabs__pane .form-type-textfield label,
.vertical-tabs__pane .form-type-url label,
.vertical-tabs__pane .form-type-textarea  label,
.vertical-tabs__pane .form-type-number label {
	display: inline-block;
  min-width: 200px;
}
.vertical-tabs__pane .form-type-number input {
	min-width: 506px;
}
.vertical-tabs__pane .form-type-textarea .form-textarea-wrapper {
	max-width: 505px;
	display: inline-block;
}

/* Preview image in tabs */
.tab-section-preview {
	max-width: 710px;
}

.footer-section-seperator {
	border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #ddd;
  padding: 20px 0;
  margin: 50px 0;
}