{#
/**
 * @file
 * Dolphin theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the Header region.
 * - page.primary_menu: Items for the Primary Menu navigation region.
 * - page.page_title: Region for the current page title.
 * - page.promo: Items for the promo region.
 * - page.highlighted: Items for the Highlighted region.
 * - page.content_top: Items for the Content Top region.
 * - page.help: Items for the Help region.
 * - page.breadcrumb: Items for the Breadcrumb region.
 * - page.search: The search region.
 * - page.content: Main content of the current page.
 * - page.sidebar_first: Items for the Left sidebar region.
 * - page.sidebar_second: Items for the Right sidebar region.
 * - page.content_bottom: Items for the Content Bottom region.
 * - page.footer_top: Items for the Footer Top region.
 * - page.footer_col_one: Items for the Footer Top Widget - One region.
 * - page.footer_col_two: Items for the Footer Top Widget - Two region.
 * - page.footer_col_three: Items for the Footer Top Widget - Three region.
 * - page.footer_col_four: Items for the Footer Top Widget - Four region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<!-- Header and Navbar -->
<header class="main-header" style="background-image: url({{ banner_large_bg }})" >
  <nav class="navbar topnav navbar-default" role="navigation">
    <div class="container p-0">
      <div class="row col-12 m-0 p-0">
      <div class="navbar-header col-md-4 p-0">
        <button type="button" class="navbar-toggle d-sm-block d-md-none" data-toggle="collapse" data-target="#main-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if page.header %}
          {{ page.header }}
        {% endif %}
      </div>

      <!-- Navigation -->
      <div class="col-md-8 p-0">
        {% if page.primary_menu %}
          {{ page.primary_menu }}
        {% endif %}      
      </div>
      <!--End Navigation -->

      </div>
    </div>
  </nav>

  <!-- Banner --> 
  <div class="container home-banner">
    <div class="row">
      <div class="col-md-6 banner-content">
        <div class="sub-heading">{{ banner_subheading }}</div>
        <div class="title">{{ banner_title|raw }}</div>
        <div class="description">{{ banner_desc }}</div>
        <div class="cta">
          <a href="{{ banner_read_more_link }}" class="btn-large">Read more Details</a>
        </div>
      </div>
      <div class="col-md-6 d-none d-sm-block home-banner-image">
        {% if banner_small_bg %}
          <img src="{{ banner_small_bg }}" />
        {% endif %}
      </div>
      
    </div>
  </div>
  <!-- End Banner -->

</header>
<!--End Header & Navbar -->


<!-- Start Top Widget -->
{% if show_promotional_cards %}
  <div class="topwidget">
    <!-- start: Container -->
    <div class="container">
      <div class="row topwidget-inner">

          {% for card in promotional_cards %}          
            <a href="{{ card.link }}" class="col-xs-12 col-sm-6 col-md-3 topwidget-block card-{{ loop.index }}">

                <i class="fa fa-{{ card.icon }}" aria-hidden="true"></i>
                <h3>{{ card.title }}</h3>
                <p>{{ card.desc }}</p>

            </a>
          {% endfor %}

      </div>
    </div>
  </div>
{% endif %}
<!--End Top Widget -->


<!--Home page promo -->
{% if show_about_section %}
<div class="promo">
  <div class="container">
    <div class="row col-12">
        
      <div class="col-sm-12 col-md-6 promo-image">
        <img src="{{ about_section_img }}" />
      </div>
      
      <div class="col-md-6 promo-content">
        <div class="sub-heading">{{ about_subheading }}</div>
        <div class="title">{{ about_title|raw }}</div>
        <div class="description">{{ about_desc }}</div>
        <div class="cta">
          <a href="{{ about_read_more_link }}" class="btn-large">Read more Details</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endif %}
<!--End Home page promo -->


<!--Highlighted-->
{% if show_numberscroll %}
<div class="highlighted-section">
  <div class="container">
    <div class="row">
        {% for block in numberscroll %} 
          <div class="col-12 col-sm-6 col-md-3 scroller-block scroll-{{loop.index}}">
            <div class="numscroller" data-min="0" data-max="{{ block.to }}" data-delay="{{ block.speed }}" data-increment="{{ block.inc }}">{{ block.to }}</div>
            <h3>{{ block.title }}</h3>
            <p>{{ block.desc }}</p>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<!--End Highlighted-->

<!--Help-->
{% if page.help %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ page.help }}
      </div>
    </div>
  </div>
{% endif %}
<!--End Help-->


<!-- Page Title -->
{%  if page.page_title %}
  <div id="page-title">
    <div id="page-title-inner">
      <!-- start: Container -->
      <div class="container-fluid">
        {{ page.page_title }}
      </div>
    </div>
  </div>
{% endif %}
<!-- End Page Title -->


<!-- layout -->
<div id="wrapper">
  <!-- start: Container -->
  <div class="container-fluid">
    
    <!--Start Content Top-->
    {% if page.content_top %}
    <div class="content-top">
        <div class="row">
		  <div class="col-md-12">
            {{ page.content_top }}
		  </div>
        </div>
	</div>
    {% endif %}
    <!--End Content Top-->
    
    <!--start:Breadcrumbs -->
	{%  if not is_front %}
    <div class="row">
      <div class="col-md-12">{{ page.breadcrumb }}</div>
    </div>
	{% endif %}
    <!--End Breadcrumbs-->
	
    <div class="row layout">
      <!--- Start Left Sidebar -->
      {% if page.sidebar_first %}
          <div class = "{{sidebarfirst}} sidebar-first">
            {{ page.sidebar_first }}
          </div>
      {% endif %}
      <!---End Left Sidebar -->

      <!--- Start content -->
      {% if page.content %}
          <div class="{{contentlayout}} content-layout">
            {{ page.content }}
          </div>
      {% endif %}
      <!---End content -->

      <!--- Start Right Sidebar -->
      {% if page.sidebar_second %}
          <div class="{{sidebarsecond}} sidebar-second">
            {{ page.sidebar_second }}
          </div>

      {% endif %}
      <!---End Right Sidebar -->
      
    </div>
    <!--End Content -->

    <!--Start Content Bottom-->
    {% if page.content_bottom %}
    <div class="content-bottom">
        <div class="row">
		  <div class="col-md-12">
            {{ page.content_bottom }}
		  </div>
        </div>
	</div>
    {% endif %}
    <!--End Content Bottom-->
  </div>
</div>
<!-- End layout -->

<!--Search-->
<div id="search">
  <div class="container">
    <div class="row">
      {% if is_front and page.search %}
        {{ page.search }}
      {% endif %}
    </div>
  </div>
</div>
<!--End Search-->

<!-- #footer-top -->
<div id="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% if page.footer_top %}
            {{ page.footer_top }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- #footer-top ends here -->

<!-- Start Footer -->
<div class="footer-wrap">
  <div class="container">

    {% if page.footer_col_one or page.footer_col_two or page.footer_col_three or page.footer_col_four %}
      <div class="footer-widgets">
        <div class="row">

          <!-- Start Footer Top One Region -->
          {% if page.footer_col_one %}
            <div class = "{{ footer_col_class }}">
              {{ page.footer_col_one }}
            </div>
          {% endif %}
          <!-- End Footer Top One Region -->

          <!-- Start Footer Top Two Region -->
          {% if page.footer_col_two %}
            <div class = "{{ footer_col_class }}">
              {{ page.footer_col_two }}
            </div>
          {% endif %}
          <!-- End Footer Top Two Region -->

          <!-- Start Footer Top Three Region -->
          {% if page.footer_col_three %}
            <div class = "{{ footer_col_class }}">
              {{ page.footer_col_three }}
            </div>
          {% endif %}
          <!-- End Footer Top Three Region -->
		  
		      <!-- Start Footer Top Four Region -->
          {% if page.footer_col_four %}
          <div class = "{{ footer_col_class }}">
            {{ page.footer_col_four }}
          </div>
          {% endif %}
		      <!-- End Footer Top Four Region -->

        </div>
      </div>
    {% endif %}

    {% if show_footer_bottom_section %}
      <div class="row footer-bottom">
        <div class="col-md-6">
          {{ copyright }}
        </div>
        <div class="col-md-6 footer-social">
          {% if facebook_url %}
            <a href="{{ facebook_url }}" class="icon-facebook"><i class="fa fa-facebook"></i></a>
          {% endif %}
          {% if google_plus_url %}
            <a href="{{ google_plus_url }}" class="icon-gplus"><i class="fa fa-google-plus"></i></a>
          {% endif %}
          {% if twitter_url %}
            <a href="{{ twitter_url }}" class="icon-twitter"><i class="fa fa-twitter"></i></a>
          {% endif %}
          {% if linkedin_url %}
            <a href="{{ linkedin_url }}" class="icon-linkedin"><i class="fa fa-linkedin"></i></a>
          {% endif %}
          {% if ytube_url %}
            <a href="{{ ytube_url }}" class="icon-youtube"><i class="fa fa-youtube-play"></i></a>
          {% endif %}
        </div>
  	  </div>
    {% endif %}
  </div>
</div>
<!--End Footer -->
